
CREATE TABLE admins (
	id SERIAL NOT NULL, 
	username VARCHAR(50) NOT NULL, 
	email VARCHAR(100) NOT NULL, 
	password_hash VARCHAR(255) NOT NULL, 
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email)
)



CREATE TABLE matches (
	id SERIAL NOT NULL, 
	requester_phone VARCHAR(20) NOT NULL, 
	matched_phone VARCHAR(20) NOT NULL, 
	status VARCHAR(20), 
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
	PRIMARY KEY (id)
)



CREATE TABLE messages (
	id SERIAL NOT NULL, 
	sender VARCHAR(20) NOT NULL, 
	receiver VARCHAR(20) NOT NULL, 
	message TEXT NOT NULL, 
	direction VARCHAR(10) NOT NULL, 
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
	PRIMARY KEY (id)
)



CREATE TABLE users (
	id SERIAL NOT NULL, 
	phone_number VARCHAR(15) NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	age INTEGER NOT NULL, 
	gender VARCHAR(10) NOT NULL, 
	county VARCHAR(50) NOT NULL, 
	town VARCHAR(50) NOT NULL, 
	education VARCHAR(50), 
	profession VARCHAR(50), 
	marital_status VARCHAR(20), 
	religion VARCHAR(30), 
	ethnicity VARCHAR(50), 
	self_description TEXT, 
	registration_stage VARCHAR(100), 
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
	PRIMARY KEY (id), 
	UNIQUE (phone_number)
)


